 body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background: #f2f2f2;
}

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.headerTop{
   background: url(../img/background.png);
   height: 100vh;
   background-size: 100%;
   background-repeat: no-repeat;
}

.headerBody{
   height: 100vh;
}

.hakkımdaImg{
   width: 100%;
   height: 100%;
}

.hakkımdaTop{
  height: 100%;
   overflow: hidden ;
   
  
}

.computer{
   position: relative;
   overflow: hidden;
}

textarea{
   width: 100%;
   height: ;
}

.computerTop{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%);
   width: 100%;      
}

.computerImg{
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%);
   width: 100%;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas: 'item1 item2 item3 item3 item9 '
   'item4 item2 item5 item6 item9' 
   'item7 item8 item8 item6 item9';
   grid-gap: 5px;
   border: 5px solid black;
   background-color: black;
   overflow: hidden;
}

.gridItem{
   height: 100%;
   width: 100%;
   position: relative;
   overflow: hidden;

}

.yuzde{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: darkturquoise;
   transition: all .5s;
   opacity: 0;
   z-index: 100;
}

.yuzde span{
 font-size: 0rem;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 z-index: 20;
 letter-spacing: 3px;
 padding: 20px;
 transition: all .5s;
 font-weight: bolder;
}



.gridItem:hover .yuzde{
   opacity: 0.9;
}

.gridItem:hover .yuzde span{
   opacity: 1;
   color: black;
   font-size: 3rem;
}

.grid .gridItem img{
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.gridItem1{
   grid-area: item1;
}
.gridItem2{
   grid-area: item2;
}
.gridItem3{
   grid-area: item3;
}
.gridItem4{
   grid-area: item4;
}
.gridItem5{
   grid-area: item5;
}
.gridItem6{
   grid-area: item6;
}
.gridItem7{
   grid-area: item7;
}
.gridItem8{
   grid-area: item8;
}
.gridItem9{
   grid-area: item9;
}





.a{
   transform: translateY(-100%);
   opacity: 0;
   animation: animation1 3s forwards;
}
.b{
   transform: translateX(-100%);
   animation: animation2 2s forwards;
   opacity: 0;
}
.c{
   transform: translateX(100%);
   animation: animation2 2s forwards;
   opacity: 0;
}
.d{
   transform: translateY(100%);
   animation: animation1 3s forwards;
   opacity: 0;
}

@keyframes animation1{
 100%{
   transform: translateY(0);
   opacity: 1;
}
}
@keyframes animation2{
 100%{
   transform: translateX(0);
   opacity: 1;
}
}



.footer1{
   background: url(../img/footer1.png) ;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 100vh;
   margin: 0;
   margin-top: 5rem;
   color: wheat;
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
}